<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contract Monthly Claim System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Claim System</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Claims/LecturerView">Lecturer View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Claims/ApproverQueue">Approver Queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Claims/Submit">Submit Claim</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <select class="form-select">
                        <option>Lecturer</option>
                        <option>Programme Coordinator</option>
                        <option>Academic Manager</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>
</body>
</html>
